{% extends "layout.html" %}

{% block content %}
<main class="services container">

    <div class="service">
        <img src="c:\Users\Daniel-Montoya\Downloads\se1.png" alt="">
        <h3>Almacenamiento</h3>
        <p>
            Solución en almacenamiento de video.
            
        </p>
    </div>

    <div class="service">
        <img src="c:\Users\Daniel-Montoya\Downloads\se2.png" alt="">
        <h3>CAMARAS DE SEGURIDAD Y ALARMAS</h3>
        <p>
            Solución en video vigilancia y sistemas de intrusión.
        </p>
    </div>

    <div class="service">
        <img src="c:\Users\Daniel-Montoya\Downloads\se3.png" alt="">
        <h3>CONTROL ACCESO</h3>
        <p>
            Solución en sistemas de control de acceso para su empresa.
        </p>
    </div>
</main>

{% endblock %}